[Unit]
Description=senseVine-backend
After=network.target

[Service]
Type=simple
User=mian
Group=mian
WorkingDirectory=/home/mian/senseVine/fastapi
ExecStart=/home/mian/.local/bin/uvicorn svd:app --reload --port 8002
ExecReload=/bin/kill -HUP ${MAINPID}
RestartSec=1
Restart=always


[Install]
WantedBy=multi-user.target

